<html>
    <head>
    <meta charset="utf-8">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <link rel="shortcut icon" href="https://www.raspberrypi.org/app/uploads/2018/03/RPi-Logo-Reg-SCREEN.png">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="../../static/css/style.css">

<style>
    .jumbotron{
        background-color:#2E2D88;
        color:white;
    }
</style>
    </head>
<body>
<header>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="http://www.raspberrypi.org"><img  class="logo"
                                                 src="https://www.raspberrypi.org/app/uploads/2018/03/RPi-Logo-Reg-SCREEN.png"></a>
      <a class="navbar-brand" href="{% url 'intro' %}">RaspberryPi Project</a>
    </div>
    <ul class="nav navbar-nav navigation">
      <li class="active"><a href="{% url 'temp' %}">Home</a></li>
      <li><a href="{% url 'chart' %}">Chart</a></li>
      <li><a href="{% url 'statistics' %}">Statistics</a></li>
      <li><a href="{% url 'api_temps' %}">Api</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right navigation">
      <li><a href="{% url 'contact' %}"><span class="glyphicon glyphicon-envelope"></span> Contact</a></li>
      <li><a href="{% url 'add_user' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
</header>

<div class="container">


        <div class="page-header">
        <h1>RaspberryPi Project</h1>
        </div>

        {% block content %}
            Dzień dobry
        {% endblock %}


</div>




</body>
</html>



































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































